@media(max-width:786px) {
    .heade {

        width: 100%;
        /* border: 2px solid red;  */
        top: 0;
        display: flex;
        justify-content: space-around;
        /* justify-content: center; */
        background: #051129;
        height: 52px;
        align-items: center;
        position: fixed;
        z-index: 1;
    
    }
    
    .leftHeader {
        width: 25%;
        height: 52px;
        text-align: left;
    }
    .leftHeader p{
        padding: 16px;
        font-size: 20px;
    }
    .rightHeader {
        width: 80%;
        height: 52px;
        /* border: 1px solid yellow; */
    }
    
    .rightHeader ul {
        display: flex;
        margin-top: 12px;
        padding-right: 20px;
        font-size: 1.7em;
        justify-content: right;
        /* border: 1px solid green; */
    }
    
    .rightHeader ul li {
        list-style: none;
        display: flex;
        padding: 10px;
    }
    
    .rightHeader ul li a {
        color: white;
        text-decoration: none;
        font-size: 11px;
    }



/* Service List */
    .Services-list {
        grid-template-rows: repeat(3,1fr);
        grid-template-columns:100%;
        grid-gap: 40px;
        padding: 0px 40px;
        /* place-items: cenetr; */
    }
}
